<h5>
<br>
<%= form_for(@review) do |f| %>
  <label id="label">Movie</label><br>
  <%= f.collection_select :movie_id, Movie.all, :id, :name  %><br><br>

  <label id="label">User</label><br>
  <%= f.collection_select :user_id, User.all, :id, :name %><br><br>

  <label id="label">Content</label><br>
  <%= f.text_area :content, size: "40x6"%><br>

  <label id="label">Rating</label><br>
  <%= f.number_field :rating, in: 0.0..10.0, step: 0.1 %><br><br>

  <%= f.submit %>
<% end %>

</h5>
